<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RelaunchProcess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Process_Auto_Relaunch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RelaunchProcess.Properties.Settings>
            <setting name="startProgramPath" serializeAs="String">
                <value />
            </setting>
            <setting name="arguments" serializeAs="String">
                <value />
            </setting>
            <setting name="saveOldState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableWatching" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="processName" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBeforeStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="restartNow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timer" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="dwhURL" serializeAs="String">
                <value />
            </setting>
            <setting name="dwhEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dwhBotname" serializeAs="String">
                <value>Relauncher</value>
            </setting>
            <setting name="dwhAvatarURL" serializeAs="String">
                <value>https://distribution.faceit-cdn.net/images/7240adfa-6bda-43a0-abd0-8c599f176686.jpeg</value>
            </setting>
            <setting name="closeFreezeProcess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="upgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </RelaunchProcess.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
